.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* transform: rotate(180deg); */
    animation: App-logo-spin infinite 1s linear;
    animation-direction: alternate-reverse;
  }
}

.App-header {
  background-color: #ececec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(51, 51, 51);
}

.small-home {
  position: absolute;
  right: 1em;
  top: 1em;
}

.small-home img {
  height: 4em;
  margin-bottom: 1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}

span {
  font-size: 0.6em;
  margin-bottom: 1em;
}

button {
  height: 4em;
  width: 10em;
  font-size: 0.6em;
  background: #ffd96c;
  border: 1px solid #fad15a;
  color: #333333;
}

.shelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin-top: 0.5em;
}

.shelf a {
  text-decoration: none;
  color: #333333;
}

.book {
  font-size: 0.6em;
  width: 10em;
  text-decoration: none;
}

.book img {
  height: 5em;
}

.edit-group .edit {
  height: 1em;
  margin-left: 1em;
}
.edit:hover {
  cursor: pointer;
}

.edit-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shelf a:nth-child(even) {
  filter: hue-rotate(0deg);
}
.shelf a:nth-child(odd) {
  filter: hue-rotate(45deg);
}

.book-details {
  display: flex;
}

.author-isbn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author,
.isbn {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.author p,
.isbn p {
  margin-bottom: unset;
}

.name {
  display: flex;
  flex-direction: column;
}

.name input,
.isbn input,
.author select {
  height: 3em;
  padding-left: 1em;
  font-size: 0.74em;
}

.name img {
  height: 15em;
}
